.component-footer {

    .wrapper-content-footer {
        background: linear-gradient(46deg, #bdc3c7, #354759, transparent);
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .wrapper-add,
    .wrapper-email {
        display: flex;
        align-items: center;
    }

    .icon {
        padding-right: 10px;
    }

    .text-h1 {
        font-weight: 700;
        color: var(--white);
    }

    .text-h4,
    .text-link {
        color: var(--white);
        font-weight: 600;
    }
}